{% extends 'main.html' %}
{% load static %}

{% block title %}Download{% endblock %}


{% block content %}
    {% if exame or edital %}
        {% if exame %}
            <div class="cartao-1">
                <div class="card" id="cartao" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'icones/document.png' %}" alt="Card image cap">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Ano</strong>: {{exame.ano}}</li>
                <li class="list-group-item"><strong>Disciplina</strong>: {{exame.disciplina}}</li>
                <li class="list-group-item">
                    {% if exame.nivel == 'Ensino Superior' %}
                        <strong>Instituição</strong>: {{exame.Instituicao}}
                    {% elif exame.nivel == 'Ensino Geral' %}
                        <strong>Época</strong>: {{exame.epoca}}
                    {% elif exame.nivel == 'Ensino Tecníco' %}
                        <strong>Nível</strong>: {{exame.nivel}}
                    {% endif %}
                </li>
            </ul>
            <div class="card-body">
                <a href="{{exame.pdf.url}}" download  class="btn btn-primary">Baixar</a>
		        <a href="{% url 'options' %}"  class="btn btn-success">Voltar</a>
            </div>
            </div>  
        </div>
        {% else %}
            <div class="container cartao-2">
                <h5 class="card-title edital-h5" >Baixar edital {{edital.instituicao}} de {{edital.ano}}</h5>
                <div class="card" id="cartao" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'icones/document.png' %}" alt="Card image cap">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Ano</strong>: {{edital.instituicao}}</li>
                        <li class="list-group-item"><strong>Disciplina</strong>: {{edital.ano}}</li>
                    </ul>
                    <div class="card-body">
			<a class="btn btn-success" href="{{ edital.pdf.url }}" download>Baixar</a>
			<a href="{% url 'options' %}"  class="btn btn-primary">Voltar</a>
		    </div>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="alert alert-primary erro">{{erro}}</div>
        <a href="{% url 'options' %}" class="btn btn-primary">Voltar</a>
    {% endif %}
{% endblock %}
