{% extends 'main.html' %}


{% block title %}Sobre nós{% endblock %}

{% block content %}
    <section class="container-fluid">
        <h2 class="">Sobre Nós</h2>
        <p>
            Bem-vindo à plataforma Marrar - O teu parceiro confiavel nos estudos.
             Na Marrar, acreditamos no poder da preparação. Nascemos da ideia de oferecer aos estudantes uma ferramenta eficiente para aceder a exames passados, facilitando assim o processo de estudo e fortalecendo a confiança para enfrentar desafios académicos.        </p>
                 <p>
                     <strong>Missão:</strong>
                    A nossa missão é simplificar a busca por exames passados, proporcionando aos estudantes uma coleção abrangente e organizada que os ajude a preparar-se de forma eficaz para os seus exames. Queremos ser o teu parceiro na jornada académica, fornecendo recursos valiosos para o teu sucesso.
                 </p>
                 <p>
                     <strong>Compromisso com a Qualidade:</strong>
                     Na Marrar, priorizamos a qualidade. A nossa equipa trabalha diligentemente para reunir exames passados de diversas fontes, garantindo que cada recurso seja confiável e relevante. Estamos empenhados em fornecer uma experiência de utilizador intuitiva e valiosa.
                 </p>
                 <p>
                     <strong>Transparência:</strong>
                     Acreditamos na transparência e na construção de confiança. Queremos que os utilizadores saibam que podem confiar na Marrar para encontrar os recursos necessários para se prepararem para os exames. Estamos sempre abertos a feedback e melhorias contínuas.
                 </p>
                 <p>
                     <strong>Visão:</strong>
                     Imaginamos um ambiente académico onde cada estudante tem acesso fácil a exames passados, contribuindo assim para o seu sucesso académico. Queremos ser reconhecidos como a principal plataforma que apoia os estudantes na sua jornada educacional.
                     <br>
                    Junte-se a nós na Marrar - onde a preparação encontra a excelência académica!
                 </p>
                 
    </section>

{% endblock %}