<nav class="footer navbar navbar-light bg-light" id="rodape">
  <div class="container-rodape">
         <div class="icones">
             
             <a href="https://instagram.com/milton.heber?igshid=ZGUzMzM3NWJiOQ=="><i class="fa-brands fa-instagram"></i></a>
             <a href="https://github.com/Miltonheber"><i class="fa-brands fa-github"></i></a>
             <a href="https://www.linkedin.com/in/milton-h%C3%A9ber-1b8493249?trk=contact-info"><i class="fa-brands fa-linkedin"></i></a>
         </div> 
         <p class="paragrafo-rodape">
             Marrar 2023, all rights reserved©
         </p>
  </div>

</nav>
